  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .App-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px red;
  }

  .holbertonLogo {
    width: 100px;
    height: 100px;
  }

  .holbertonHeaderName {
    color: crimson;
  }
    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;
    }
  
    .App-body label span {
      padding-left: 2px;
      font-weight: bold;
      margin-right: 16px;
    }
  
    .App-body input {
      /* display: block; */
      height: 32px;
      line-height: 16px;
      font-size: 16px;
      padding-left: 2px;
      margin-top: 2px;
    }
  
    .App-body button {
      border-radius: 25px;
      width: 150px;
      height: 32px;
      background-color: white;
      /* #ff4242 */
      font-size: 24px;
      border: .5px solid lightgrey;
    }

  .App-footer {
    border-top: solid 3px red;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }